.background {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-image: url("/assets/barley-fields.jpg");
    filter: brightness(70%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: #fff;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "title . bulb"
    "date . bulb"
    "list list list"
    "form form form";
  z-index: 1;
}

.title {
  grid-area: title;
}

.date {
  grid-area: date;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.bulb {
  grid-area: bulb;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  align-self: center;
  background-color: rgba(#000, 0.5);
  > i {
    color: #fff;
    font-size: 1rem;
  }
}

.list {
  grid-area: list;
}

.todo-item {
  display: grid;
  background-color: rgba(#000, 0.5);
  padding: 0.5rem 0;
  margin-top: 0.1rem;
  border: none;
  border-radius: 5px;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "item-check item-name item-star"
    "item-check item-description item-star";
}

.item-check {
  grid-area: item-check;
  color: rgba(#fff, 0.5);
  border: 2px solid rgba(#fff, 0.5);
  border-radius: 50%;
  background: none;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  margin: 0 1rem;
  align-self: center;
  font-size: 0.75rem;
}

.item-name {
  grid-area: item-name;
}

.item-description {
  grid-area: item-description;
  font-size: 0.8rem;
  color: rgba(#fff, 0.5);
}

.item-star {
  grid-area: item-star;
  background: none;
  border: none;
  color: rgba(#fff, 0.5);
  font-size: 1rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  margin: 0 1rem;
}

.form {
  grid-area: form;
  display: flex;
  height: 3.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(#000, 0.5);
  position: relative;
  > input {
    font-size: 1rem;
    padding-left: 1rem;
    color: #fff;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  > button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 3rem;
    z-index: 2;
  }
}
