.item-star {
  background: none;
  border: none;
  color: rgba(#fff, 0.5);
  font-size: 1rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  > .starred {
    color: dodgerblue;
  }
}
