.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: var(--primary-text);
  border-right: var(--border-drawer);
  background-color: var(--background);
  &.open {
    width: 240px;
  }
  &.close {
    width: 60px;
  }
}

.brand {
  padding: 0.5rem;
  color: var(--primary-text);
  &.open {
    font-size: 1rem;
    font-weight: normal;
  }
  &.close {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

.toggle {
  color: var(--primary-text);
  border: none;
  background: none;
  padding: 0.5rem 0;
}
