.container {
  position: relative;
  height: 100vh;
  width: 360px;
  font-size: 0.9rem;
  color: var(--primary-text);
  border-left: var(--border-drawer);
  background-color: var(--background);
  > section {
    color: var(--secondary-text);
    margin: 0.5rem;
    border: var(--border-light);
    background-color: var(--surface);
    > form {
      display: grid;
      grid-template-columns: auto 1fr auto;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: var(--border-light);
      }
      > i {
        font-size: 1.1rem;
        padding: 0.75rem;
      }
      > p {
        align-self: center;
      }
      > button {
        color: var(--secondary-text);
        padding: 0.75rem;
        border: none;
        background: none;
      }
      > textarea {
        grid-column: 2 / 3;
        color: var(--secondary-text);
        padding: 1rem;
        border: none;
        background: none;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }
    }
  }
}

.action-myday-checked {
  color: var(--primary-fill);
  cursor: default !important;
}
.action-date-checked {
  color: var(--primary-fill);
}
.action-date-error {
  color: var(--error-fill);
}

.reminder-modal {
  padding: 0;
  margin-top: 3.5rem;
  border: var(--border-light);
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--background), -1px -1px 1px var(--surface);
  background-color: var(--surface);
  z-index: 1;
  > button {
    display: grid;
    grid-template-columns: auto repeat(2, 1fr);
    border: none;
    background: none;
    align-self: center;
    padding: 0;
    color: var(--secondary-text);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    > i {
      align-self: center;
      font-size: 1rem;
      padding: 0.75rem;
    }
    > p {
      color: var(--primary-text);
      text-align: left;
      align-self: center;
      width: 90px;
    }
    > span {
      width: 120px;
      padding: 1rem;
      padding-left: 0;
      text-align: right;
    }
  }
  > footer > button {
    display: grid;
    grid-template-columns: auto 1fr;
    border: none;
    border-top: var(--border-light);
    background: none;
    align-self: center;
    padding: 0;
    width: 100%;
    color: var(--secondary-text);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    > i {
      align-self: center;
      font-size: 1rem;
      padding: 0.75rem;
    }
    > p {
      color: var(--primary-text);
      align-self: center;
      text-align: left;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--secondary-text);
  background-color: var(--surface);
  border-top: var(--border-light);
  > form {
    display: grid;
    grid-template-columns: auto 1fr auto;
    > button {
      color: var(--secondary-text);
      font-size: 1.1rem;
      border: none;
      background: none;
      padding: 1rem;
    }
    > p {
      align-self: center;
      justify-self: center;
    }
  }
}
