.container {
  height: 100vh;
  width: 360px;
  color: var(--primary-text);
  border-left: var(--border-drawer);
  background-color: var(--background);
}

.header {
  background-color: var(--surface);
  padding: 1rem;
}

.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  > .item-check {
    margin-right: 1rem;
  }
  > .item-star {
    margin-left: 1rem;
  }
}
